.main__catalog {
	max-width: 1200px;
	margin: 0 auto;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	height: 50vh;
}
